{
  "x-generator": "NSwag v14.6.2.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "superise-market [env=dev]",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://superise-market.superise.net"
    }
  ],
  "paths": {
    "/api/hello": {
      "get": {
        "summary": "Hello",
        "operationId": "SupeRISEMarketServerWebEndpointsHelloEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/gen-sign-message": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "生成签名消息",
        "operationId": "SupeRISEMarketServerWebEndpointsUserEndpointsGenSignMessageEndpoint",
        "requestBody": {
          "x-name": "GenSignMessageReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsUserEndpointsGenSignMessageReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/FastEndpointsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/info": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "查询当前用户信息接口",
        "operationId": "SupeRISEMarketServerWebEndpointsUserEndpointsGetUserInfoEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfUserInfoVo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/user/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "用户/Agent登录",
        "operationId": "SupeRISEMarketServerWebEndpointsUserEndpointsUserLoginEndpoint",
        "requestBody": {
          "x-name": "UserLoginReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsUserEndpointsUserLoginReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfTokenVo"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/user/login-for-agent": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "用户登录-ForAgent Endpoint",
        "operationId": "SupeRISEMarketServerWebEndpointsUserEndpointsUserLoginForAgentEndpoint",
        "requestBody": {
          "x-name": "UserLoginRegisterReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsUserEndpointsUserLoginRegisterReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfTokenVo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/FastEndpointsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/register": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "用户/Agent注册 注册完成后自动登录",
        "operationId": "SupeRISEMarketServerWebEndpointsUserEndpointsUserRegisterEndpoint",
        "requestBody": {
          "x-name": "UserRegisterReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsUserEndpointsUserRegisterReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfTokenVo"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/user/jwt": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "SupeRISEMarketServerWebEndpointsUserEndpointsVerifyJwtEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/order/create": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "用户/Agent创建充值订单",
        "operationId": "SupeRISEMarketServerWebEndpointsOrderEndpointsCreateOrderEndpoint",
        "requestBody": {
          "x-name": "CreateOrderReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsOrderEndpointsCreateOrderReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfOrderBaseResp"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/order/submit-tx-hash": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "用户提交交易哈希",
        "operationId": "SupeRISEMarketServerWebEndpointsOrderEndpointsSubmitTxHashEndpoint",
        "requestBody": {
          "x-name": "SubmitTxHashReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsOrderEndpointsSubmitTxHashReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "OpenAI"
        ],
        "summary": "OpenAI Chat Completions",
        "operationId": "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiChatCompletionsEndpoint",
        "requestBody": {
          "x-name": "OpenAiChatCompletionsReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiChatCompletionsReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiChatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/completions": {
      "post": {
        "tags": [
          "OpenAI"
        ],
        "summary": "OpenAI Completions",
        "operationId": "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiCompletionsEndpoint",
        "requestBody": {
          "x-name": "OpenAiCompletionsReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiCompletionsReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiCompletionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": [
          "OpenAI"
        ],
        "summary": "OpenAI Embeddings",
        "operationId": "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiEmbeddingsEndpoint",
        "requestBody": {
          "x-name": "OpenAiEmbeddingsReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiEmbeddingsReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiEmbeddingsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "OpenAI"
        ],
        "summary": "OpenAI Models",
        "operationId": "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiModelsEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiModelListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "tags": [
          "OpenAI"
        ],
        "summary": "OpenAI Responses",
        "operationId": "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiResponsesEndpoint",
        "requestBody": {
          "x-name": "OpenAiResponsesReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiResponsesReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiResponsesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/v1/model-api-keys/create": {
      "post": {
        "tags": [
          "ModelApiKeys"
        ],
        "summary": "新建ApiKey",
        "operationId": "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsCreateModelApiKeyEndpoint",
        "requestBody": {
          "x-name": "CreateModelApiKeyReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsCreateModelApiKeyReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfModelApiKeyId"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/model-api-keys/delete": {
      "post": {
        "tags": [
          "ModelApiKeys"
        ],
        "summary": "删除ApiKey",
        "operationId": "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsDeleteModelApiKeyEndpoint",
        "requestBody": {
          "x-name": "DeleteModelApiKeyReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsDeleteModelApiKeyReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/model-api-keys/{id}": {
      "get": {
        "tags": [
          "ModelApiKeys"
        ],
        "summary": "指定id查询用户的 ApiKey",
        "operationId": "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsGetModelApiKeyByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfModelApiKeyVo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/model-api-keys": {
      "get": {
        "tags": [
          "ModelApiKeys"
        ],
        "summary": "查询用户的 ApiKey",
        "operationId": "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsGetModelApiKeysEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfListOfModelApiKeyVo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/model-api-keys/modify": {
      "post": {
        "tags": [
          "ModelApiKeys"
        ],
        "summary": "编辑 ApiKey",
        "operationId": "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsModifyModelApiKeyEndpoint",
        "requestBody": {
          "x-name": "ModifyModelApiKeyReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsModifyModelApiKeyReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/model-api-keys/set-price-range": {
      "post": {
        "tags": [
          "ModelApiKeys"
        ],
        "summary": "设置 ApiKey 报价区间",
        "operationId": "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsSetModelApiKeyPriceRangeEndpoint",
        "requestBody": {
          "x-name": "SetModelApiKeyPriceRangeReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsSetModelApiKeyPriceRangeReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/merchant/model-tokens": {
      "post": {
        "tags": [
          "MerchantModelTokens"
        ],
        "summary": "创建商户模型Token",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsCreateMerchantModelTokenEndpoint",
        "requestBody": {
          "x-name": "CreateMerchantModelTokenRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsCreateMerchantModelTokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfMerchantModelTokenVo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/merchant/model-tokens/delete": {
      "post": {
        "tags": [
          "MerchantModelTokens"
        ],
        "summary": "删除商户模型Token",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsDeleteMerchantModelTokenEndpoint",
        "requestBody": {
          "x-name": "DeleteMerchantModelTokenRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsDeleteMerchantModelTokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/merchant-model-tokens/{tokenId}": {
      "get": {
        "tags": [
          "MerchantModelTokens"
        ],
        "summary": "查询商户模型Token详情",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsGetMerchantModelTokenByIdEndpoint",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfMerchantModelTokenVo2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/merchant-model-tokens": {
      "get": {
        "tags": [
          "MerchantModelTokens"
        ],
        "summary": "查询商户的模型Tokens",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsGetMerchantModelTokensEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfListOfMerchantModelTokenVo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/merchant/model-tokens/modify": {
      "post": {
        "tags": [
          "MerchantModelTokens"
        ],
        "summary": "更新商户模型Token",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsUpdateMerchantModelTokenEndpoint",
        "requestBody": {
          "x-name": "UpdateMerchantModelTokenRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsUpdateMerchantModelTokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/merchant/ai-models/{id}": {
      "get": {
        "tags": [
          "Merchant - AI模型查询"
        ],
        "summary": "商户查询AI模型详情",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsGetMerchantAIModelByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfAIModelDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/ai-models": {
      "get": {
        "tags": [
          "Merchant - AI模型查询"
        ],
        "summary": "商户查询AI模型分页查询",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsGetMerchantAIModelsEndpoint",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfPagedDataOfAIModelDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/info": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "获取当前登录商户信息",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsGetMerchantInfoEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfMerchantInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/merchant/login": {
      "post": {
        "tags": [
          "Merchants"
        ],
        "summary": "商户登录 - 使用邮箱加密码登录",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantLoginEndpoint",
        "requestBody": {
          "x-name": "MerchantLoginRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantLoginRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfMerchantLoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/FastEndpointsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/register": {
      "post": {
        "tags": [
          "Merchants"
        ],
        "summary": "商户注册",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsRegisterMerchantEndpoint",
        "requestBody": {
          "x-name": "RegisterMerchantRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantEndpointsRegisterMerchantRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfMerchantRegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/FastEndpointsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/merchant/ai-model-quotations": {
      "post": {
        "tags": [
          "Merchant - AI模型报价管理"
        ],
        "summary": "商户创建AI模型报价",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsCreateAIModelQuotationEndpoint",
        "requestBody": {
          "x-name": "CreateAIModelQuotationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsCreateAIModelQuotationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfCreateAIModelQuotationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Merchant - AI模型报价管理"
        ],
        "summary": "商户查询AI模型报价分页列表",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsGetAIModelQuotationsEndpoint",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfPagedDataOfAIModelQuotationDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/merchant/ai-model-quotations/delete": {
      "post": {
        "tags": [
          "Merchant - AI模型报价管理"
        ],
        "summary": "商户删除AI模型报价",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsDeleteAIModelQuotationEndpoint",
        "requestBody": {
          "x-name": "DeleteAIModelQuotationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsDeleteAIModelQuotationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/merchant/ai-model-quotations/{id}": {
      "get": {
        "tags": [
          "Merchant - AI模型报价管理"
        ],
        "summary": "商户查询AI模型报价详情",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsGetAIModelQuotationByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfAIModelQuotationDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/merchant/ai-model-quotations/modify": {
      "post": {
        "tags": [
          "Merchant - AI模型报价管理"
        ],
        "summary": "商户更新AI模型报价",
        "operationId": "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsUpdateAIModelQuotationEndpoint",
        "requestBody": {
          "x-name": "UpdateAIModelQuotationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsUpdateAIModelQuotationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/ai-models/quotations": {
      "post": {
        "tags": [
          "AIModels"
        ],
        "summary": "查询AI模型报价接口",
        "operationId": "SupeRISEMarketServerWebEndpointsAIModelEndpointsGetAiModelQuotationsEndpoint",
        "requestBody": {
          "x-name": "GetAiModelQuotationsReq",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAIModelEndpointsGetAiModelQuotationsReq"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfPagedDataOfAiModelQuotationVo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ai-models": {
      "get": {
        "tags": [
          "AIModels"
        ],
        "summary": "查询可使用的AI模型接口",
        "operationId": "SupeRISEMarketServerWebEndpointsAIModelEndpointsGetAiModelsEndpoint",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": true,
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "每页大小",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfPagedDataOfAiModelVo"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/ai-models": {
      "post": {
        "tags": [
          "Admin - AI模型管理"
        ],
        "summary": "管理员创建AI模型",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminEndpointsAIModelEndpointsCreateAIModelEndpoint",
        "requestBody": {
          "x-name": "CreateAIModelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminEndpointsAIModelEndpointsCreateAIModelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfCreateAIModelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Admin - AI模型管理"
        ],
        "summary": "管理员获取AI模型列表",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminEndpointsAIModelEndpointsGetAIModelsEndpoint",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": true,
            "description": "页码",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "每页大小",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfPagedDataOfAdminAiModelVo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/ai-models/delete": {
      "post": {
        "tags": [
          "Admin - AI模型管理"
        ],
        "summary": "管理员删除AI模型",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminEndpointsAIModelEndpointsDeleteAIModelEndpoint",
        "requestBody": {
          "x-name": "DeleteAIModelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminEndpointsAIModelEndpointsDeleteAIModelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/ai-models/{id}": {
      "get": {
        "tags": [
          "Admin - AI模型管理"
        ],
        "summary": "管理员获取AI模型详情",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminEndpointsAIModelEndpointsGetAIModelByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfAIModelDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/ai-models/modify": {
      "post": {
        "tags": [
          "Admin - AI模型管理"
        ],
        "summary": "管理员更新AI模型",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminEndpointsAIModelEndpointsUpdateAIModelEndpoint",
        "requestBody": {
          "x-name": "UpdateAIModelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminEndpointsAIModelEndpointsUpdateAIModelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/admin-user/login-user-detail": {
      "post": {
        "tags": [
          "Admin-AdminUsers"
        ],
        "summary": "后台-获取当前登录用户的详细信息",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsAdminUserLoginUserDetailEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfAdminUserDataVo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/admin-user/login-with-password": {
      "post": {
        "tags": [
          "Admin-AdminUsers"
        ],
        "summary": "后台-密码登录-不直接登录",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsAdminUserLoginWithPasswordEndpoint",
        "requestBody": {
          "x-name": "LoginWithPasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsLoginWithPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/admin-user/login-with-verification-code": {
      "post": {
        "tags": [
          "Admin-AdminUsers"
        ],
        "summary": "后台-邮箱验证码登录",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsAdminUserLoginWithVerificationCodeEndpoint",
        "requestBody": {
          "x-name": "LoginWithVerificationCodeRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsLoginWithVerificationCodeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfTokenVo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/admin-user/modify-avatar": {
      "post": {
        "tags": [
          "Admin-AdminUsers"
        ],
        "summary": "后台-修改后台用户头像",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsAdminUserModifyAvatarEndpoint",
        "requestBody": {
          "x-name": "ModifyAdminUserAvatarRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsModifyAdminUserAvatarRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/admin-user/page": {
      "post": {
        "tags": [
          "Admin-AdminUsers"
        ],
        "operationId": "SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsAdminUserPageEndpoint",
        "requestBody": {
          "x-name": "AdminUserPageRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsAdminUserPageRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfPagedDataOfAdminUserDataVo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/admin-user/reset-password": {
      "post": {
        "tags": [
          "Admin-AdminUsers"
        ],
        "summary": "后台-用户重置密码 ",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsAdminUserResetPasswordEndpoint",
        "requestBody": {
          "x-name": "ResetAdminUserPasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsResetAdminUserPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/FastEndpointsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/admin-user/create": {
      "post": {
        "tags": [
          "Admin-AdminUsers"
        ],
        "summary": "创建新的管理员用户",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsCreateAdminUserEndpoint",
        "requestBody": {
          "x-name": "CreateAdminUserRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsCreateAdminUserRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfAdminUserCreateVo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/FastEndpointsErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/admin-user/delete": {
      "post": {
        "tags": [
          "Admin-AdminUsers"
        ],
        "summary": "删除新的后台管理员账号",
        "operationId": "SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsDeleteAdminUserEndpoint",
        "requestBody": {
          "x-name": "AdminUserIdRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsAdminAdminUserEndpointsAdminUserIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseDataOfBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/code-analysis": {
      "get": {
        "operationId": "GetCodeAnalysis",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NetCorePalExtensionsDtoResponseDataOfString": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "NetCorePalExtensionsDtoResponseData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "errorData": {
            "type": "array",
            "items": {}
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsUserEndpointsGenSignMessageReq": {
        "type": "object",
        "description": "生成签名消息请求",
        "additionalProperties": false,
        "required": [
          "ckbAddress"
        ],
        "properties": {
          "ckbAddress": {
            "type": "string",
            "description": "Ckb地址， Ckb 地址是用户的主地址",
            "minLength": 1,
            "nullable": false
          }
        }
      },
      "FastEndpointsErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "statusCode": {
            "type": "integer",
            "format": "int32",
            "default": 400
          },
          "message": {
            "type": "string",
            "default": "One or more errors occurred!"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfUserInfoVo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosUserInfoVo"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebApplicationVosUserInfoVo": {
        "type": "object",
        "description": "用户信息视图对象",
        "additionalProperties": false,
        "properties": {
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "ckbAddress": {
            "type": "string",
            "description": "关联CkbAddress"
          },
          "avatar": {
            "type": "string"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "balance": {
            "type": "string",
            "description": "账户余额 单位USD 例如\"12.34\"USD"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfTokenVo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebUtilsTokenVo"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebUtilsTokenVo": {
        "type": "object",
        "description": "登录 Token ",
        "additionalProperties": false,
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "Jwt token"
          },
          "refreshToken": {
            "type": "string",
            "description": "刷新 Jwt token 的 token"
          },
          "expiresIn": {
            "type": "string",
            "description": "过期时间"
          },
          "scope": {
            "type": "string",
            "description": "权限范围"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsUserEndpointsUserLoginReq": {
        "type": "object",
        "description": "用户登录请求",
        "additionalProperties": false,
        "properties": {
          "email": {
            "type": "string",
            "description": "登录邮箱"
          },
          "password": {
            "type": "string",
            "description": "密码"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsUserEndpointsUserLoginRegisterReq": {
        "type": "object",
        "description": "用户登录请求",
        "additionalProperties": false,
        "required": [
          "ckbAddress"
        ],
        "properties": {
          "originMessage": {
            "type": "string",
            "description": "原始信息"
          },
          "signature": {
            "type": "string",
            "description": "签名"
          },
          "publicKey": {
            "type": "string",
            "description": "公钥"
          },
          "ckbAddress": {
            "type": "string",
            "description": "CKB 地址",
            "minLength": 1,
            "nullable": false
          },
          "btcAddress": {
            "type": "string",
            "description": "BTC 地址"
          },
          "ethAddress": {
            "type": "string",
            "description": "EthAddress"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsUserEndpointsUserRegisterReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "email": {
            "type": "string",
            "description": "注册邮箱"
          },
          "password": {
            "type": "string",
            "description": "密码"
          },
          "ckbAddress": {
            "type": "string",
            "description": "CKB 地址"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfBoolean": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "NetCorePalExtensionsDtoResponseDataOfOrderBaseResp": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsOrderEndpointsOrderBaseResp"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebEndpointsOrderEndpointsOrderBaseResp": {
        "type": "object",
        "description": "订单基础响应",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "订单ID"
          },
          "toAddress": {
            "type": "string",
            "description": "接收地址"
          },
          "currencyType": {
            "description": "币种",
            "oneOf": [
              {
                "$ref": "#/components/schemas/SupeRISEMarketServerDomainEnumsCurrencyType"
              }
            ]
          },
          "exchangeAmount": {
            "type": "string",
            "description": "预计到账金额 USD"
          }
        }
      },
      "SupeRISEMarketServerDomainEnumsCurrencyType": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Unknown",
          "Btc",
          "Ckb",
          "Usdi",
          "Eth",
          "Usdc",
          "Usdt"
        ],
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ]
      },
      "SupeRISEMarketServerWebEndpointsOrderEndpointsCreateOrderReq": {
        "type": "object",
        "description": "创建订单请求",
        "additionalProperties": false,
        "properties": {
          "fromAddress": {
            "type": "string",
            "description": "付款地址"
          },
          "currencyType": {
            "description": "币种",
            "oneOf": [
              {
                "$ref": "#/components/schemas/SupeRISEMarketServerDomainEnumsCurrencyType"
              }
            ]
          },
          "amount": {
            "type": "number",
            "description": "充值金额",
            "format": "decimal"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsOrderEndpointsSubmitTxHashReq": {
        "type": "object",
        "description": "提交交易哈希请求",
        "additionalProperties": false,
        "properties": {
          "orderId": {
            "type": "string",
            "description": "订单ID"
          },
          "txHash": {
            "type": "string",
            "description": "交易哈希"
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiChatResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiUsage"
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiChoice": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiMessage"
          },
          "finish_reason": {
            "type": "string"
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiMessage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "role": {
            "type": "string"
          },
          "content": {}
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiUsage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "format": "int32"
          },
          "completion_tokens": {
            "type": "integer",
            "format": "int32"
          },
          "total_tokens": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiChatCompletionsReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "model": {
            "type": "string",
            "nullable": true
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiChatMessageReq"
            }
          },
          "temperature": {
            "type": "number",
            "format": "double"
          },
          "stream": {
            "type": "boolean"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiChatMessageReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "role": {
            "type": "string"
          },
          "content": {}
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiCompletionsResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiUsage"
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiCompletionChoice": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "text": {
            "type": "string"
          },
          "finish_reason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiCompletionsReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "model": {
            "type": "string",
            "nullable": true
          },
          "prompt": {},
          "temperature": {
            "type": "number",
            "format": "double"
          },
          "stream": {
            "type": "boolean"
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiEmbeddingsResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "object": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiEmbeddingItem"
            }
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiUsage"
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiEmbeddingItem": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "object": {
            "type": "string"
          },
          "embedding": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "index": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiEmbeddingsReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "model": {
            "type": "string",
            "nullable": true
          },
          "input": {}
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiModelListResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "object": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiModelInfo"
            }
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiModelInfo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "owned_by": {
            "type": "string"
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiResponsesResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiResponseOutput"
            }
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiResponseOutput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosOpenAiResponseContent"
            }
          }
        }
      },
      "SupeRISEMarketServerWebApplicationVosOpenAiResponseContent": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsOpenAIEndpointsOpenAiResponsesReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "model": {
            "type": "string",
            "nullable": true
          },
          "input": {},
          "temperature": {
            "type": "number",
            "format": "double"
          },
          "stream": {
            "type": "boolean"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfModelApiKeyId": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsCreateModelApiKeyReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsDeleteModelApiKeyReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfModelApiKeyVo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosModelApiKeyVo"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebApplicationVosModelApiKeyVo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "apiKey": {
            "type": "string"
          },
          "isRevoked": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsGetModelApiKeyByIdRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "NetCorePalExtensionsDtoResponseDataOfListOfModelApiKeyVo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationVosModelApiKeyVo"
                }
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsModifyModelApiKeyReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsModelApiKeyEndpointsSetModelApiKeyPriceRangeReq": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "ApiKey 标识"
          },
          "lowestPrice": {
            "type": "integer",
            "description": "允许的最低单价",
            "format": "int64"
          },
          "highestPrice": {
            "type": "integer",
            "description": "允许的最高单价",
            "format": "int64"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfMerchantModelTokenVo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationCommandsMerchantModelTokensMerchantModelTokenVo"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebApplicationCommandsMerchantModelTokensMerchantModelTokenVo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "tokenId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsCreateMerchantModelTokenRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsDeleteMerchantModelTokenRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "tokenId": {
            "type": "string"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfMerchantModelTokenVo2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationQueriesMerchantModelTokensMerchantModelTokenVo"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebApplicationQueriesMerchantModelTokensMerchantModelTokenVo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "isEnabled": {
            "type": "boolean"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsGetMerchantModelTokenByIdRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "NetCorePalExtensionsDtoResponseDataOfListOfMerchantModelTokenVo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationQueriesMerchantModelTokensMerchantModelTokenVo"
                }
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebEndpointsMerchantModelTokenEndpointsUpdateMerchantModelTokenRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "tokenId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isEnabled": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfAIModelDto": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationQueriesAIModelsAIModelDto"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebApplicationQueriesAIModelsAIModelDto": {
        "type": "object",
        "description": "AI模型DTO",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "scene": {
            "$ref": "#/components/schemas/SupeRISEMarketServerDomainEnumsScene"
          },
          "capability": {
            "type": "string"
          }
        }
      },
      "SupeRISEMarketServerDomainEnumsScene": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Unknown",
          "Chat",
          "Completion",
          "Embedding",
          "Image"
        ],
        "enum": [
          0,
          1,
          2,
          3,
          4
        ]
      },
      "NetCorePalExtensionsDtoResponseDataOfPagedDataOfAIModelDto": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/NetCorePalExtensionsDtoPagedDataOfAIModelDto"
                  }
                ]
              }
            }
          }
        ]
      },
      "NetCorePalExtensionsDtoPagedDataOfAIModelDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationQueriesAIModelsAIModelDto"
            }
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "pageIndex": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsGetMerchantAIModelsRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "NetCorePalExtensionsDtoResponseDataOfMerchantInfoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantInfoResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantInfoResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "merchantId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "contactEmail": {
            "type": "string"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          },
          "accountAddress": {
            "type": "string"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "availableBalance": {
            "type": "number",
            "format": "decimal"
          },
          "frozenBalance": {
            "type": "number",
            "format": "decimal"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfMerchantLoginResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantLoginResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantLoginResponse": {
        "type": "object",
        "description": "商户登录响应",
        "additionalProperties": false,
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户ID",
            "format": "guid"
          },
          "name": {
            "type": "string",
            "description": "商户名称"
          },
          "email": {
            "type": "string",
            "description": "商户邮箱"
          },
          "accessToken": {
            "type": "string",
            "description": "访问令牌"
          },
          "refreshToken": {
            "type": "string",
            "description": "刷新令牌"
          },
          "expiresIn": {
            "type": "string",
            "description": "过期时间（毫秒时间戳）"
          },
          "message": {
            "type": "string",
            "description": "响应消息"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantLoginRequest": {
        "type": "object",
        "description": "商户登录请求",
        "additionalProperties": false,
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "登录邮箱",
            "format": "email",
            "minLength": 1,
            "pattern": "^[^@]+@[^@]+$",
            "nullable": false
          },
          "password": {
            "type": "string",
            "description": "密码",
            "minLength": 1,
            "nullable": false
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfMerchantRegisterResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantRegisterResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsMerchantRegisterResponse": {
        "type": "object",
        "description": "商户注册响应",
        "additionalProperties": false,
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户ID",
            "format": "guid"
          },
          "message": {
            "type": "string",
            "description": "响应消息"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsRegisterMerchantRequest": {
        "type": "object",
        "description": "商户注册请求",
        "additionalProperties": false,
        "required": [
          "name",
          "contactName",
          "contactEmail",
          "password",
          "accountAddress"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "商户名称",
            "maxLength": 100,
            "minLength": 0,
            "nullable": false
          },
          "contactName": {
            "type": "string",
            "description": "联系人姓名",
            "maxLength": 50,
            "minLength": 0,
            "nullable": false
          },
          "contactEmail": {
            "type": "string",
            "description": "联系人邮箱",
            "format": "email",
            "maxLength": 200,
            "minLength": 0,
            "pattern": "^[^@]+@[^@]+$",
            "nullable": false
          },
          "contactPhone": {
            "type": "string",
            "description": "联系人电话（可选）",
            "maxLength": 30,
            "minLength": 0,
            "nullable": true
          },
          "password": {
            "type": "string",
            "description": "密码",
            "minLength": 6,
            "nullable": false
          },
          "accountAddress": {
            "type": "string",
            "description": "CKB地址信息",
            "maxLength": 128,
            "minLength": 0,
            "nullable": false
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfCreateAIModelQuotationResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationCommandsAIModelQuotationsCreateAIModelQuotationResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebApplicationCommandsAIModelQuotationsCreateAIModelQuotationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsCreateAIModelQuotationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "modelId": {
            "type": "string",
            "description": "模型ID"
          },
          "price": {
            "type": "integer",
            "description": "报价",
            "format": "int64"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "是否启用"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsDeleteAIModelQuotationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfAIModelQuotationDto": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationQueriesAIModelQuotationsAIModelQuotationDto"
                  }
                ]
              }
            }
          }
        ]
      },
      "SupeRISEMarketServerWebApplicationQueriesAIModelQuotationsAIModelQuotationDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "merchantId": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "model": {
            "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationQueriesAIModelQuotationsAIModelInfoDto"
          }
        }
      },
      "SupeRISEMarketServerWebApplicationQueriesAIModelQuotationsAIModelInfoDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "scene": {
            "$ref": "#/components/schemas/SupeRISEMarketServerDomainEnumsScene"
          },
          "version": {
            "type": "string"
          },
          "capability": {
            "type": "string"
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfPagedDataOfAIModelQuotationDto": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/NetCorePalExtensionsDtoPagedDataOfAIModelQuotationDto"
                  }
                ]
              }
            }
          }
        ]
      },
      "NetCorePalExtensionsDtoPagedDataOfAIModelQuotationDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupeRISEMarketServerWebApplicationQueriesAIModelQuotationsAIModelQuotationDto"
            }
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "pageIndex": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsGetAIModelQuotationsRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "SupeRISEMarketServerWebEndpointsMerchantEndpointsAIModelQuotationEndpointsUpdateAIModelQuotationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "description": "报价",
            "format": "int64",
            "nullable": true
          },
          "isEnabled": {
            "type": "boolean",
            "description": "是否启用",
            "nullable": true
          }
        }
      },
      "NetCorePalExtensionsDtoResponseDataOfPagedDataOfAiModelQuotationVo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetCorePalExtensionsDtoResponseData"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/NetCorePalExtensionsDtoPagedDataOfAiModelQuotationVo"
                  }
                ]
              }
            }
          }
        ]
[...]
