NODE_ENV=development
ENABLE_API_DOCS=true
HOST=127.0.0.1
PORT=18799
DATA_DIR=./data
SQLITE_PATH=./data/wallet.sqlite
OWNER_NOTICE_PATH=./data/owner-credential.txt
OWNER_JWT_TTL=3600
OWNER_JWT_SECRET=superise-dev-owner-jwt-secret
CKB_CHAIN_MODE=preset
CKB_CHAIN_PRESET=testnet
# CKB_CHAIN_MODE=custom
# CKB_CHAIN_CONFIG_PATH=./apps/wallet-server/config/ckb.custom.example.json
EVM_CHAIN_MODE=preset
EVM_CHAIN_PRESET=testnet
# EVM_CHAIN_MODE=custom
# EVM_CHAIN_CONFIG_PATH=./apps/wallet-server/config/evm.custom.example.json
ALLOW_PLAINTEXT_KEK_ENV=false
